@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200&family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200&family=Krona+One&family=Merriweather&display=swap');

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f7f8fc;
}


header{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 10px;
    background-color: rgb(33, 80, 168);
    color: #f5f5f5;
    font-family: 'Krona One', sans-serif;
    font-size: 1.5rem;
}

header img{
    width: 84px;
    height: 84px;
    padding-left: 20px;
}

header h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    color: #c1fff5;
    text-shadow: 2px 3px 3px #292929;
}

nav
{
    display: flex;
    position: relative;
    top: 20%;
    right: 0;
    left: 0;
    width: 400px;
    display: table;
    margin: 0 auto;
    transform: translateY(-50%);
    width: 100%;
}

nav a
{
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: center;
    color: #fcfcfc;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
}

nav a:before, nav a:after
{
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
}

nav a:before
{
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
}

nav a:after
{
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px
}

nav a:nth-child(1):before
{
    background-color: yellow;
}

nav a:nth-child(1):after
{
    background-color: red;
}

nav a:nth-child(2):before
{
    background-color: #00e2ff;
}

nav a:nth-child(2):after
{
    background-color: #89ff00;
}

nav a:nth-child(3):before
{
    background-color: purple;
}

nav a:nth-child(3):after
{
    background-color: palevioletred;
}

#indicator
{
    position: absolute;
    left: 8%;
    bottom: 0;
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.2s ease left;
}

nav a:hover
{
    color: #c1fff5;
}

nav a:hover:before, nav a:hover:after
{
    transform: scale(1);
}

nav a:nth-child(1):hover ~ #indicator
{
    background: linear-gradient(130deg, yellow, red);
}

nav a:nth-child(2):hover ~ #indicator
{
    left: 37%;
    background: linear-gradient(130deg, #00e2ff, #89ff00);
}

nav a:nth-child(3):hover ~ #indicator
{
    left: 70%;
    background: linear-gradient(130deg, purple, palevioletred);
}

#ytd-url {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 14px;
  margin: 20px;
  color: #fff;
  font-family: Arial;
  font-size: 14px;
  text-decoration: none;
  background-color: #000;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.3);
  z-index: 125;
}


#haplogroup-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    border-radius: 7px;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 30px;
    background-color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
    color: #000;
    animation-name: slideInFromTop;
    animation-duration: 2s;
}

#haplogroup-container p{
    line-height: 32px;
    margin-top: 20px;
    font-size: 26px;
}

#haplogroup-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.haplogroup-predictor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: 10px;
    border-radius: 7px;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 30px;
    background-color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    color: #000;
    animation-name: slideInFromTop;
    animation-duration: 2s;
}