@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200&family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200&family=Krona+One&family=Merriweather&display=swap');

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f7f8fc;
}


header{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 10px;
    background-color: rgb(33, 80, 168);
    color: #f5f5f5;
    font-family: 'Krona One', sans-serif;
    font-size: 1.5rem;
}

header img{
    width: 84px;
    height: 84px;
    padding-left: 20px;
}

header h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    color: #c1fff5;
    text-shadow: 2px 3px 3px #292929;
}

nav
{
    display: flex;
    position: relative;
    top: 20%;
    right: 0;
    left: 0;
    width: 400px;
    display: table;
    margin: 0 auto;
    transform: translateY(-50%);
    width: 100%;
}

nav a
{
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: center;
    color: #fcfcfc;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
}

nav a:before, nav a:after
{
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
}

nav a:before
{
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
}

nav a:after
{
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px
}

nav a:nth-child(1):before
{
    background-color: yellow;
}

nav a:nth-child(1):after
{
    background-color: red;
}

nav a:nth-child(2):before
{
    background-color: #00e2ff;
}

nav a:nth-child(2):after
{
    background-color: #89ff00;
}

nav a:nth-child(3):before
{
    background-color: purple;
}

nav a:nth-child(3):after
{
    background-color: palevioletred;
}

#indicator
{
    position: absolute;
    left: 8%;
    bottom: 0;
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.2s ease left;
}

nav a:hover
{
    color: #c1fff5;
}

nav a:hover:before, nav a:hover:after
{
    transform: scale(1);
}

nav a:nth-child(1):hover ~ #indicator
{
    background: linear-gradient(130deg, yellow, red);
}

nav a:nth-child(2):hover ~ #indicator
{
    left: 37%;
    background: linear-gradient(130deg, #00e2ff, #89ff00);
}

nav a:nth-child(3):hover ~ #indicator
{
    left: 70%;
    background: linear-gradient(130deg, purple, palevioletred);
}

#ytd-url {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 14px;
  margin: 20px;
  color: #fff;
  font-family: Arial;
  font-size: 14px;
  text-decoration: none;
  background-color: #000;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.3);
  z-index: 125;
}


#intro-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    border-radius: 7px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: #000;
    animation-name: slideInFromTop;
    animation-duration: 2s;
}

#intro-container img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#intro-container h1{
    margin-top: 20px; 
}

#intro-container p{
    line-height: 32px;
    margin-top: 20px;
    font-size: 26px;
}

#intro-container:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#intro-container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    margin-bottom: 20px;
    margin: 30px;
    padding-top: 30px;
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
    animation-name: slideInFromTop;
    animation-duration: 5s;
}

@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

.interests-container{
    display: flex;
    /* position: relative; */
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 40px 0;
    padding: 30px;
    font-family: 'Merriweather', serif;
}

.card{
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    animation-name: slideInFromBottom;
    animation-duration: 3s;
}


.card:hover{
    transform: translateY(-30px);
}

@keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

.card-header img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 250px;
}

.card-body h2 {
    font-size: 1.8rem;
    color: rgb(27, 25, 25);
}

.card-body p{
    margin: 25px;
}

.card-body a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: black;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.card-body a:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    background: #fff;
    color: #000;
}

.test-explanation{
        display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    border-radius: 7px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 30px;
    font-family: 'Josefin Sans', sans-serif;
}

.test-explanation img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#home-link{
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

a{
    text-decoration: none;
}


/* DNA Animation */

.dna-strand-wrapper{
    display: flex;
    position: relative;
    width: 100%;
    height: 180px;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background: #f7f8fc;
  }
  
  .loader{
    display: flex;
    position: relative;
    width: 250px;
    height: 88px;
  }
  
  .wave{
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    perspective: 100px;
  }
  
  .wave > div{
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 100%;
  }
  
  .wave > div::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(64, 131, 255);
    border-radius: 50%;
  }
  
  .top-wave > div::before {
    background-color: red;
  }
  
  .top-wave > div{
    animation: move 3s ease-in-out 7 reverse;

   }
   
  .top-wave > div::before{
    animation: grow 3s linear 7 reverse; 
  }
  
  .bottom-wave > div{
    animation: move 3s ease-in-out 7 reverse;
   }
   
  .bottom-wave > div::before{
    animation: grow 3s linear 7 reverse;
  }
  
  .wave > div:nth-child(10){
    animation-delay: 0s;
  }
  .wave > div:nth-child(9){
    animation-delay: -0.1s;
  }
  .wave > div:nth-child(8){
    animation-delay: -0.2s;
  }
  .wave > div:nth-child(7){
    animation-delay: -0.3s;
  }
  .wave > div:nth-child(6){
    animation-delay: -0.4s;
  }
  .wave > div:nth-child(5){
    animation-delay: -0.5s;
  }
  .wave > div:nth-child(4){
    animation-delay: -0.6s;
  }
  .wave > div:nth-child(3){
    animation-delay: -0.7s;
  }
  .wave > div:nth-child(2){
    animation-delay: -0.8s;
  }
  .wave > div:nth-child(1){
    animation-delay: -0.9s;
  }
  
  
  .bottom-wave > div:nth-child(10){
    animation-delay: 0.75s;
  }
  .bottom-wave > div:nth-child(9){
    animation-delay: 0.65s;
  }
  .bottom-wave > div:nth-child(8){
    animation-delay: 0.55s;
  }
  .bottom-wave > div:nth-child(7){
    animation-delay: 0.45s;
  }
  .bottom-wave > div:nth-child(6){
    animation-delay: 0.35s;
  }
  .bottom-wave > div:nth-child(5){
    animation-delay: 0.25s;
  }
  .bottom-wave > div:nth-child(4){
    animation-delay: 0.15s;
  }
  .bottom-wave > div:nth-child(3){
    animation-delay: 0.05s;
  }
  .bottom-wave > div:nth-child(2){
    animation-delay: -0.05s;
  }
  .bottom-wave > div:nth-child(1){
    animation-delay: -0.15s;
  }
  
  
  @keyframes move{
    0%{
      transform: translateY(0px);
    }
    25%{
      transform: translateY(88px);
    }
    50%{
      transform: translateY(0px);
    }
    75%{
      transform: translateY(88px);
    }
    100%{
      transform: translateY(0px);
    }
  
  }
  
  @keyframes grow{
    0%, 50%, 75%, 100% {
      transform: scaleX(0.7) scaleY(0.7);
    }
    10%, 60% {
      transform: scaleX(1) scaleY(1);
    }
    35%, 85% {
      transform: scaleX(0.4) scaleY(0.4);
    }
  }